[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/sbin/inhibitor.py
RemainAfterExit=yes
StandardError=journal+console
StandardOutput=journal+console
Type=simple
Restart=on-failure

[Unit]
Description=Systemd shutdown/reboot inhibitor
