#!/usr/bin/make -f
export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/terminusd \
		EXAMPLESDIR=/opt/terminusd/scripts

override_dh_installsystemd:
	dh_installsystemd terminusd.service
