#!/usr/bin/make -f
export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/system-update-inhibitor \
		LOCALBINDIR=/usr/share/doc/system-update-inhibitor/examples

override_dh_installsystemd:
	dh_installsystemd --no-enable system-update-inhibitor.service
